/* #btn {
  border: 2px solid hsl(184, 14%, 56%);
  border-radius: 10px;
  padding: .4rem;
  margin-left: 10px;
  background-color: hsl(184, 14%, 56%);
  color: #1b1b1b;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .1s ease-out;
}

#btn:active {
  transform: translate(2px, 2px);
}

#btn-add-new {
  background-color: #1b1b1b;
  border: 2px solid black;
  border-radius: 10px;
  padding: .4rem;
  margin-left: 10px;
  color: #fefefe;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#btn-add-new:active {
  transform: translate(2px, 2px);
} */